@import "tailwindcss";

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1) opacity(0.5);
}

.scrollbar-hide::-webkit-scrollbar { display: none; }
.scrollbar-hide { -ms-overflow-style: none; scrollbar-width: none; }
